
body {
	background-color: rgb(16, 18, 23);
	color: rgb(200, 228, 255);
	font-family: monospace;
	font-size: 10pt;
}

a {
	color: rgb(110, 154, 181);
}

a:visited {
	color: rgb(110, 154, 181);
}

#example_div {
	margin-top: 30px;
	width: 80%;
	text-align: center;
	border-style: solid;
    border-width: 1px;
    border-color: red;
    min-height: 400px;
    overflow: hidden;
}



			
